<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="local-proxy" value="http://nginx-proxy:80/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <local-proxy>
      <add key="username" value="testuser" />
      <add key="cleartextpassword" value="testpass" />
    </local-proxy>
  </packageSourceCredentials>
</configuration>
